################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ModularBOT/bin
/ModularBOT/obj
/packages
/ModularBOT/ModularBOT.csproj.user
/RMSoftware.IO/obj/Debug
/RMSoftwareModularBot/obj/Debug
/TestModule/bin/Debug
/TestModule/obj/Debug
/TestModule/obj/Release
/TestModule/bin/Release
/Discord.Addons.Interactive/obj/Release
/Discord.Addons.Interactive/bin/Release
/Discord.Addons.Interactive/bin/Debug
/Discord.Addons.Interactive/obj/Debug
/Discord.Addons.Interactive/Discord.Addons.Interactive.csproj.user
/TestModule/obj/MONO_RELEASE
/Discord.Addons.Interactive/obj/MONO_RELEASE
/Discord.Addons.Interactive/bin/MONO_RELEASE
/CustomModuleTemplate/obj/Release
/CustomModuleTemplate/obj/Debug
/CustomModuleTemplate/bin/Release
/CustomModuleTemplate
