################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ModularBOT/bin
/ModularBOT/obj
/packages
/ModularBOT/ModularBOT.csproj.user
/RMSoftware.IO/obj/Debug
/RMSoftwareModularBot/obj/Debug
/TestModule/bin/Debug
/TestModule/obj/Debug
